SUNBRONZE_APP_NAME=SunBronze API
SUNBRONZE_ENV=local
SUNBRONZE_DEBUG=true
SUNBRONZE_DATABASE_URL=postgresql+psycopg://postgres:moco23@localhost:5432/sunbronze
SUNBRONZE_WHATSAPP_META_VERIFY_TOKEN=
SUNBRONZE_WHATSAPP_META_ACCESS_TOKEN=
SUNBRONZE_WHATSAPP_META_PHONE_NUMBER_ID=
SUNBRONZE_WHATSAPP_META_GRAPH_API_VERSION=v23.0
